__pycache__
*.env
*.mp4
.venv
.python-version
uv.lock
*.log
creds.json
client_secrets.json
TODO.txt
!requirements.txt
uv.lock
alembic.ini
volumes/
.mypy_cache/
.ruff_cache/
README.md.bak
